    <%= form_for(@slot) do |f| %>
  <% if @slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% @slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment %><br>
    <%= f.date_select :appointment %>
  </div>
  <div class="field">
    <%= f.label :appointmenttype %><br>
    <%= f.text_field :appointmenttype %>
  </div>


    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
